Django>=4.2.16
supabase>=2.27.0
httpx>=0.28.1
httpcore>=1.0.9
python-dotenv>=1.0.1
gunicorn>=23.0.0
whitenoise>=6.11.0
django-cors-headers>=4.9.0
psycopg[binary]
requests>=2.32.3
python-dateutil>=2.9.0.post0
pandas>=2.3.3
openpyxl>=3.1.5
dj-database-url>=3.0.1